body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.h1, .h2, .h3 {
  font-family: Georgia, serif;
  font-size: 25px;
  margin-bottom: 15px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  align-items: start;
}

.container,
.container-2,
.container-3 {
  width: 200px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.button {
  margin-top: 60px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
