<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Email Marketing Tool</title>
</head>
<body>
    <div class="option1">
        <div class="row">
            <div class="h1-2">
                <h1 class="h1">Compose Email</h1>
            </div>
            <div class="h1-1">
                <h1 class="h2">Email With Templates</h1>
            </div>
            <div class="h1-3">
                <h1 class="h3">Add Templates + List</h1>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <img class="image" src="/static/compose-mail-2.png" alt="Image">
                <a href="form.html" class="button">Start Now</a>
            </div>
            <div class="container-2">
                <img class="image" src="/static/templates.png" alt="Image">
                <a href="page2.html" class="button">Start Now</a>
            </div>
            <div class="container-3">
                <img class="image" src="/static/list.png" alt="Image">
                <a href="page3.html" class="button">Start Now</a>
            </div>
        </div>
    </div>
</body>
</html>
